<div class="container-fluid" style="background:rgba(0, 255, 128, 0.527)">
    <br><br>
    <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-4 ">
            <h2>A good scientist is a person with original ideas. A good engineer is a person who makes a design that works with as few original ideas as possible. There are no prima donnas in engineering.To the optimist, the glass is half full. To the pessimist, the glass is half empty. To the engineer, the glass is twice as big as it needs to be</h2><br>
        <h2>- Navneeth Kumar</h2>
        </div>
        <div class="col-md-5 text-center">
            <img src="../assets/Images/navneeth.jpeg" width="45%" height="250ex%">
        </div>
    </div>
    
    <hr >
    <br>
    <div class="row">
        <div class="col-md-2 text-center"></div>
       
        <div class="col-md-4  ">
            <img src="../assets/Images/loki.jpeg" width="45%" height="250ex">
        </div>
        <div class="col-md-4">
            <h2>There is nothing I believe more strongly than getting young people interested in science and engineering, for a better tomorrow, for all humankind</h2>
        <h2>Design is not how it looks like and feels like. Design is how it works.One man’s “magic” is another man’s engineering. “Supernatural” is a null word.</h2>
        <br>
        <h2>-Donga Lokesh</h2>
        </div>
        <div class="col-md-2 text-center"></div>
    </div>
    
    <hr >
    <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-4 ">
            <h2>A good scientist is a person with original ideas. A good engineer is a person who makes a design that works with as few original ideas as possible. There are no prima donnas in engineering</h2><br>
        <h2>One man’s “magic” is another man’s engineering. “Supernatural” is a null word.</h2>
        <br>
            <h2>- Sai Venu</h2>
        </div>
        <div class="col-md-5 text-center">
            <img src="../assets/Images/sai.jpeg" width="45%" height="250ex">
        </div>
    </div>
    
    <hr >
    <br>
    <div class="row">
        
       <div class="col-md-2"></div>
        <div class="col-md-4 ">
            <img src="../assets/Images/saqi.jpeg" width="45%" height="250ex">
        </div>
        <div class="col-md-4 ">
            <h2>Engineering stimulates the mind. Kids get bored easily. They have got to get out and get their hands dirty; make things, dismantle things, fix things. When the schools can offer that, you’ll have an engineer for life.</h2>
        <h2>One man’s “magic” is another man’s engineering. “Supernatural” is a null word</h2>
        <br>
        <h2>- Saqlain</h2>
        </div>
        <div class="col-md-2 text-center"></div>
    </div>
    
    
</div>