<div class="container">
    <div class="row">
        <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)" >
            <div class="col-md-6">
                
                <div class="form-group">
                        <label for="i1">Item1</label>
                        <input type="text" name="i1" id="i1" class="form-control" ngModel>
                      </div>
        
        
        
                <div class="form-group">
                        <label for="p1">Price</label>
                        <input type="text" name="p1" id="p1" class="form-control" ngModel>
                      </div>
                      <div class="form-group">
                        <label for="i2">Item2</label>
                        <input type="text" name="i2" id="i2" class="form-control" ngModel>
                      </div>
        
        
        
                <div class="form-group">
                        <label for="p2">Price</label>
                        <input type="text" name="p2" id="p2" class="form-control" ngModel>
                      </div>
                      <div class="form-group">
                        <label for="i3">Item3</label>
                        <input type="text" name="i3" id="i3" class="form-control" ngModel>
                      </div>
        
        
        
                <div class="form-group">
                        <label for="p3">Price</label>
                        <input type="text" name="p3" id="p3" class="form-control" ngModel>
                      </div>
                      <div class="form-group">
                        <label for="i4">Item4</label>
                        <input type="text" name="i4" id="i4" class="form-control" ngModel>
                      </div>
        
        
        
                <div class="form-group">
                        <label for="p4">Price</label>
                        <input type="text" name="p4" id="p4" class="form-control" ngModel>
                      </div>
                      <div class="form-group">
                        <label for="i5">Item5</label>
                        <input type="text" name="i5" id="i5" class="form-control" ngModel>
                      </div>
        
        
        
                <div class="form-group">
                        <label for="p5">Price</label>
                        <input type="text" name="p5" id="p5" class="form-control" ngModel>
                      </div>
         </div>
         <div class="col-md-6">
                
            <div class="form-group">
                    <label for="i6">Item6</label>
                    <input type="text" name="i6" id="i6" class="form-control" ngModel>
                  </div>
    
    
    
            <div class="form-group">
                    <label for="p6">Price</label>
                    <input type="text" name="p6" id="p6" class="form-control" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="i7">Item7</label>
                    <input type="text" name="i7" id="i7" class="form-control" ngModel>
                  </div>
    
    
    
            <div class="form-group">
                    <label for="p7">Price</label>
                    <input type="text" name="p7" id="p7" class="form-control" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="i8">Item8</label>
                    <input type="text" name="i8" id="i8" class="form-control" ngModel>
                  </div>
    
    
    
            <div class="form-group">
                    <label for="p8">Price</label>
                    <input type="text" name="p8" id="p8" class="form-control" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="i9">Item9</label>
                    <input type="text" name="i9" id="i9" class="form-control" ngModel>
                  </div>
    
    
    
            <div class="form-group">
                    <label for="p9">Price</label>
                    <input type="text" name="p9" id="p9" class="form-control" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="i10">Item10</label>
                    <input type="text" name="i10" id="i10" class="form-control" ngModel>
                  </div>
    
    
    
            <div class="form-group">
                    <label for="p10">Price</label>
                    <input type="text" name="p10" id="p10" class="form-control" ngModel>
                  </div>
                  </div>
            
       
    <button class="btn btn-primary">Add Items</button>
    </form>
    
</div>
<button class="btn btn-warning" (click)="showitems()">Show Items</button>
</div>